.ImageSearch {
  text-align: center;
}

.ImageSearch-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ImageSearch-image {
  display: inline-block;
}

.ImageSearch-image-source {
  font-size: 12px;
  color: white;
}

.ImageSearch-image-link {
  color: gray;
}